<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
    <link rel="stylesheet" href="./public/styles/global.css">
    <link rel="stylesheet" href="/styles/room.css">
    <link rel="stylesheet" href="/styles/modal.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="/scripts/main.js" defer type="module"></script>

    <title>Perguntas e respostas | Rocket.Q</title>
</head>
    <body>
        <div id="room" class="content">
            <header>
                <a href="/index.html">
                    <img src="/imagens/logo.svg" alt="Logo da Rocket.Q">
                </a>

                <div class="buttons">
                    <div class="button outlined" id="room-id" data-id="323243">
                        #323243
                        <img src="/imagens/copy.svg" alt="Copiar código da sala">
                    </div>
                    <a href="#" class="button">
                        <img src="/imagens/users-white.svg" alt="Icone criar sala">
                        Criar sala
                    </a>
                </div>
            </header>
            <main>
                <section id="question-form">
                    <h2>Faça sua pergunta</h2>
                    <form action="">
                        <label class="sr-only" for-id="question">O que você quer perguntar?</label>
                        <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                        <footer>
                            <div>
                                <img src="/imagens/cadeado.svg" alt="Cadeado">
                                Esta pergunta é anônima
                            </div>
                            <button>Enviar</button>
                        </footer>
                    </form>
                </section>

                <section id="questions">
                    <h2 class="sr-only">Perguntas da comunidade</h2>
                    <div class="questionsDiv">

                        <div class="questionWrapper">
                            <div class="questionContent">
                                <div class="user">
                                    <img src="/imagens/user.svg" alt="Foto user">
                                </div>
                                <div class="question"> 
                                    <p>Qual a diferença entre const, var e let no JavaScript?</p>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="#" class="check" data-id="2">
                                    <img src="/imagens/check.svg" alt="Marcar como lida">
                                    Marcar como lida
                                </a>
                                <a href="#" class="trash" data-id="2">
                                    <img src="/imagens/trash.svg" alt="Excluir">
                                    Excluir
                                </a>
                            </div>
                        </div>

                        <div class="questionWrapper">
                            <div class="questionContent">
                                <div class="user">
                                    <img src="/imagens/user.svg" alt="Foto user">
                                </div>
                                <div class="question"> 
                                    <p>Você já sabe quais as bases você precisa melhorar para alcançar o seu próximo nível com maestria?</p>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="#" class="check" data-id="3">
                                    <img src="/imagens/check.svg" alt="Marcar como lida">
                                    Marcar como lida
                                </a>
                                <a href="#" class="trash" data-id="3">
                                    <img src="/imagens/trash.svg" alt="Excluir">
                                    Excluir
                                </a>
                            </div>
                        </div>

                        <div class="questionWrapper">
                            <div class="questionContent">
                                <div class="user">
                                    <img src="/imagens/user.svg" alt="Foto user">
                                </div>
                                <div class="question">
                                    <p>O que é JavaScript?</p>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="#" class="check" data-id="4">
                                    <img src="/imagens/check.svg" alt="Marcar como lida">
                                    Marcar como lida
                                </a>
                                <a href="#" class="trash" data-id="4">
                                    <img src="/imagens/trash.svg" alt="Excluir">
                                    Excluir
                                </a>
                            </div>
                        </div>

                        <div class="questionWrapper read">
                            <div class="questionContent">
                                <div class="user">
                                    <img src="/imagens/user.svg" alt="Foto user">
                                </div>
                                <div class="question">
                                    <p>O que é TypeScript?</p>
                                </div>
                            </div>
                            <div class="actions">
                                <!-- <a href="#" class="check" data-id="1">
                                    <img src="imagens/check.svg" alt="Marcar como lida">
                                    Marcar como lida
                                </a> -->
                                <a href="#" class="trash" data-id="1">
                                    <img src="/imagens/trash.svg" alt="Excluir">
                                    Excluir
                                </a>
                            </div>
                        </div>

                    </div>
                </section>
            </main>
        </div>

        <!-- Modal -->

        <div class="modalWrapper ">
            <div class="modal">
                <h2>Excluir pergunta</h2>
                <p>Tem certeza que você deseja excluir esta pergunta?</p>

                <form action="#" method="POST">
                    <label class="sr-only" for-id="password">Digite sua senha</label>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha">

                    <div class="buttons">
                        <div class="button grey cancel">Cancelar</div>
                        <button class="red">Sim, excluir</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Fim modal -->

    </body>
</html>